@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

@mixin button {
  text-align: center;
  text-transform: capitalize;
  cursor: pointer;
  width: 100%;
  min-height: 2.5rem;
  border: none;
  border-radius: 1.5rem;
}
