// --------------------------- Min-Widths ------------------>

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1280px) {
    @content;
  }
}

// --------------------------- Max-Widths ------------------>

@mixin maxTablet {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin maxDesktop {
  @media screen and (max-width: 2000px) {
    @content;
  }
}

// --------------------------- Components ------------------>
@mixin button {
  width: 5rem;
  padding: 0.6rem;
  cursor: pointer;
  text-transform: capitalize;
  border: none;
  border-radius: 24px;
}
