// Primary Colours
$primary-black: #000000;
$primary-white: #ffffff;
$background-footer: #285276;

// Secondary Colours
$secondary-slate: #5c667e;
$secondary-cloud: #bdc5d5;
$secondary-lightgrey: #f7f8f9;
$secondary-graphite: #323232;

// CTA Colours
$selector-green: rgb(22, 217, 87);
$header-yellow: #fff200db;
$supporting-green: #158463;
$supporting-red: #c94515;
