main {
  .banner {
    color: #fff;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url("../../assets/images/RedwoodsNationalPark.jpeg");
    background-position: top right;
    background-size: cover;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: #126551;
      opacity: 0.8;
    }

    .container {
      position: relative;
      z-index: 1;

      h1 {
        font-size: 72px;
        margin-bottom: 32px;

        span {
          color: #fff200db;
        }

        @media (max-width: 767px) {
          font-size: 50px;
        }
        @media (max-width: 425px) {
          font-size: 40px;
        }
      }

      h3 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 32px;

        @media (max-width: 425px) {
          font-size: 28px;
        }
      }
    }

    .infinite {
      &__title {
        padding: 0;
        margin: 0;
        color: white;
        font-size: 60px;
        letter-spacing: 1px;
      }

      &__rotate-text::before {
        content: "";
        animation: animate infinite 7s;
      }
      @keyframes animate {
        0% {
          content: "Develop!";
        }
        30% {
          content: "Create!";
        }
        60% {
          content: "Design!";
        }
        100% {
          content: "Think!";
        }
      }
    }
  }

  .about {
    background-color: #fff;
    border: 1px solid red;

    @media (min-width: 768px) {
      margin-top: 12rem;
    }

    &__container {
      // margin: 5rem;
      padding-bottom: 64px;
      max-width: 1400px;

      @media (max-width: 2000px) {
        margin: 2rem;
      }

      @media (max-width: 767px) {
        // margin: 2rem;
        padding-bottom: 64px;
        max-width: 1400px;
      }

      @media (max-width: 425px) {
        margin: 0;
      }
    }

    &__content {
      display: flex;
      justify-content: space-between;

      @media (max-width: 2000px) {
        display: flex;
        margin-top: 4rem;
      }

      @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      @media (max-width: 425px) {
        // display: flex;
        // flex-direction: column;
        // justify-content: space-between;
      }

      &--text {
        width: 50%;
        // padding: 2rem;
        // margin: 2rem 0;

        @media (max-width: 767px) {
          width: 100%;
          margin-top: 3rem;
          order: 1;
        }

        @media (max-width: 425px) {
          width: 100%;
          padding: 1rem;
          // order: 1;
        }
      }
    }

    &__description {
      line-height: 1.8;
    }

    &__profile {
      // width: 40%;
      // position: relative;
      // top: 5rem;
      // left: 5rem;

      @media (max-width: 2000px) {
      }
      @media (max-width: 767px) {
        margin: 0 auto;
      }

      @media (max-width: 425px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
      }
    }

    // profile image
    &__headshot {
      @media (max-width: 2000px) {
        border-radius: 50%;
        width: 20rem;
      }

      @media (max-width: 767px) {
        // border-radius: 50%;
        // width: 20rem;
      }

      @media (max-width: 425px) {
        border-radius: 50%;
        width: 100%;
        padding: 2rem;
      }
    }
  }

  .techstack {
    @media (max-width: 2000px) {
      // margin-top: 10rem;
      margin-top: 5rem;
    }

    @media (max-width: 425px) {
      padding: 1rem;
      margin-top: 3rem;
    }

    // sizing the icon itself
    &__icon {
      @media (max-width: 2000px) {
        width: 75%;
      }
      @media (max-width: 767px) {
        // width: 75%;
      }
      @media (max-width: 425px) {
        width: 100%;
      }
    }

    &__services-grid {
      // margin-top: 5rem;
      // display: grid;
      // grid-template-columns: repeat(5, 1fr);
      // grid-gap: 16px;

      @media (max-width: 2000px) {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 16px;
      }

      @media (max-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 425px) {
        margin-top: 2rem;
      }
    }

    // sizing the icon container itself
    &__service {
      // overflow: hidden;
      // max-width: 40%;
      display: flex;
      justify-content: center;

      @media (max-width: 2000px) {
        overflow: hidden;
        // max-width: 40%;
      }
      @media (max-width: 767px) {
        // max-width: 30%;
      }

      @media (max-width: 425px) {
        padding: 1rem;
        max-width: 100%;
      }
    }

    &__spacer {
      min-height: 25px;
    }

    .content {
      padding: 16px;
    }
  }
}

.projects {
  background-color: rgb(133, 138, 208);
  padding-top: 64px;
  padding-bottom: 64px;

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;

    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 767px) {
      grid-template-columns: 1fr;
    }

    .project {
      // background-image: url("../images/project-img.jpg");
      border-radius: 16px;
      overflow: hidden;

      .content {
        filter: grayscale(1);
        transition: 0.4s;
        color: #fff;
        padding: 16px;
        background-color: rgba(24, 195, 172, 0.8);

        // &__1 {
        //   background: no-repeat;
        //   background-image: url(../../assets/images/maesurf.png);
        //   background-size: 100%;
        // }

        h3 {
          font-size: 32px;
          margin-bottom: 16px;

          @media (max-width: 2000px) {
            font-size: 28px;
          }
        }

        p {
          font-size: 18px;
          margin-bottom: 16px;

          @media (max-width: 2000px) {
            font-size: 16px;
          }
        }
      }

      &:hover {
        .content {
          filter: grayscale(0);
        }
      }
    }
  }
}
