@use "../../styles/partials/_mixins.scss" as *;
@use "../../styles/partials/_variables.scss" as *;

main {
  .banner {
    color: $primary-white;
    position: relative;
    min-height: 100vh;
    display: flex;
    align-items: center;

    background-image: url("../../assets/images/background.jpg");
    background-position: left;
    background-size: cover;
    background-attachment: fixed;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      background-color: $primary-black;
      opacity: 0.1;
    }

    .container {
      position: relative;
      z-index: 1;

      h1 {
        font-size: 72px;
        margin-bottom: 32px;

        span {
          color: $header-yellow;
        }

        @media (max-width: 767px) {
          font-size: 50px;
        }
        @media (max-width: 425px) {
          font-size: 40px;
        }
      }

      h3 {
        font-weight: 700;
        margin-bottom: 32px;

        @media (max-width: 425px) {
          font-size: 28px;
        }
      }
    }

    .type-title {
      font-size: 2.5rem;
      margin: 4rem 0 1rem 0rem;
    }

    /* Typewriter effect */
    @keyframes typing {
      0.0000%,
      27.3488% {
        content: "";
      }
      1.1395%,
      26.2093% {
        content: "D";
      }
      2.2791%,
      25.0698% {
        content: "De";
      }
      3.4186%,
      23.9302% {
        content: "Dev";
      }
      4.5581%,
      22.7907% {
        content: "Deve";
      }
      5.6977%,
      21.6512% {
        content: "Devel";
      }
      6.8372%,
      20.5116% {
        content: "Develo";
      }
      7.9767%,
      19.3721% {
        content: "Develop";
      }
      8.9767%,
      18.3721% {
        content: "Develop.";
      }

      30.7674%,
      51.2791% {
        content: "";
      }
      31.9070%,
      50.1395% {
        content: "C";
      }
      33.0465%,
      49.0000% {
        content: "Cr";
      }
      34.1860%,
      47.8605% {
        content: "Cre";
      }
      35.3256%,
      46.7209% {
        content: "Crea";
      }
      36.4651%,
      45.5814% {
        content: "Creat";
      }
      37.6047%,
      44.4419% {
        content: "Create";
      }
      38.6047%,
      43.4419% {
        content: "Create.";
      }

      54.6977%,
      75.2093% {
        content: "";
      }
      55.8372%,
      74.0698% {
        content: "I";
      }
      56.9767%,
      72.9302% {
        content: "In";
      }
      58.1163%,
      71.7907% {
        content: "Ins";
      }
      59.2558%,
      70.6512% {
        content: "Insp";
      }
      60.3953%,
      69.5116% {
        content: "Inspi";
      }
      61.5349%,
      68.3721% {
        content: "Inspir";
      }
      62.6574%,
      67.8210% {
        content: "Inspire";
      }

      78.6279%,
      96.8605% {
        content: "";
      }
      79.7674%,
      95.7209% {
        content: "D";
      }
      80.9070%,
      94.5814% {
        content: "Dr";
      }
      82.0465%,
      93.4419% {
        content: "Dre";
      }
      83.1860%,
      92.3023% {
        content: "Drea";
      }
      85.1860%,
      90.3023% {
        content: "Dream";
      }
    }

    @keyframes blink {
      0%,
      100% {
        opacity: 1;
      }
      50% {
        opacity: 0;
      }
    }

    .typewriter {
      --caret: orange;
    }

    .typewriter::before {
      content: "";
      animation: typing 13.5s infinite;
    }

    .typewriter::after {
      content: "";
      border-right: 3px solid var(--caret);
      animation: blink 0.5s linear infinite;
    }

    @media (prefers-reduced-motion) {
      .typewriter::after {
        animation: none;
      }

      @keyframes sequencePopup {
        0%,
        100% {
          content: "Develop";
        }
        25% {
          content: "Create";
        }
        50% {
          content: "Inspire";
        }
        75% {
          content: "Dream";
        }
      }

      .typewriter::before {
        content: "Develop";
        animation: sequencePopup 12s linear infinite;
      }
    }
  }

  .about {
    background-color: $primary-white;
    border: 1px solid transparent;

    &__container {
      @media (max-width: 2000px) {
        padding-top: 4rem;
        margin-top: 4.5rem;
      }

      @media (max-width: 767px) {
        padding-bottom: 64px;
        max-width: 1400px;
      }

      @media (max-width: 425px) {
        margin: 0;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      @include desktop {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
      }

      @media (max-width: 767px) {
        flex-direction: column;
        justify-content: space-between;
      }

      &--text {
        @media (max-width: 2000px) {
          margin-top: 5rem;
        }

        @include desktop {
          width: 60%;
        }

        @media (max-width: 425px) {
          width: 100%;
        }
      }
    }

    &__description {
      line-height: 1.8;
    }

    &__inner-text {
      margin-bottom: 1rem;
      letter-spacing: 1px;
    }

    &__profile {
      @media (max-width: 767px) {
        margin: 0 auto;
      }

      @media (max-width: 425px) {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
      }
    }

    // profile image
    &__headshot {
      @media (max-width: 2000px) {
        border-radius: 50%;
        width: 25rem;
      }

      @media (max-width: 767px) {
        width: 20rem;
      }

      @media (max-width: 425px) {
        border-radius: 50%;
        width: 100%;
      }
    }
  }
}
