@use "../../styles/partials/_variables.scss" as *;
@use "../../styles/partials/_mixins.scss" as *;

.contact {
  background-color: #285276;

  &__container {
    padding-top: 32px;
    padding-bottom: 64px;

    h2 {
      color: #fff;
    }
  }

  &__title {
    font-size: 42px;
    letter-spacing: 1px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0;
  }

  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    max-width: 250px;

    @include tablet {
      width: 20rem;
      max-width: 400px;
    }
  }

  &__handle {
    width: 3.5rem;
  }

  &__acknowledgements {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.478);

    @include tablet {
      margin: 0;
    }
  }

  &__copyright {
    font-size: 12px;
    text-align: center;
  }
}

.site-footer-divider {
  background: rgba(255, 255, 255, 0.478);
  height: 1px;
  width: 100%;
  border: none;
  margin: 1rem 0;
}
